$p: 16px;
$p_t: 1.8vw;
$p_m: 2.8vw;

#app {


h1{
    //35px
    font-size: $p*2.1875;
    @media only screen and (max-width: $ipadSize) {
        font-size: $p_t*2.1875;
    }
    @media (max-width: $mobileSize) {
        font-size: $p_m*2.1875;
    }
}
h2{
    //30px
    font-size: $p*1.875;
    @media only screen and (max-width: $ipadSize) {
        font-size: $p_t*1.875;
    }
    @media (max-width: $mobileSize) {
        font-size: $p_m*1.875;
    }
}
h3{
    //25px
    font-size: $p*1.5625;
    @media only screen and (max-width: $ipadSize) {
        font-size: $p_t*1.5625;
    }
    @media (max-width: $mobileSize) {
        font-size: $p_m*1.5625;
    }
}
h4{
    //20px
    font-size: $p*1.25;
    @media only screen and (max-width: $ipadSize) {
        font-size: $p_t*1.25;
    }
    @media (max-width: $mobileSize) {
        font-size: $p_m*1.25;
    }
}
h5{
    // 12px
    font-size: $p*0.75;
    @media only screen and (max-width: $ipadSize) {
        font-size: $p_t*0.75;
    }
    @media (max-width: $mobileSize) {
        font-size: $p_m*0.75;
    }
}
p {
    font-size: $p;
    @media only screen and (max-width: $ipadSize) {
        font-size: $p_t;
    }
    @media (max-width: $mobileSize) {
        font-size: $p_m;
    }
}

}